

<form action="/stylists/all" method="post">
  <label for="stylist-name">New Stylist</label>
  <input name="stylist-name" type="text">
  <button type="submit">Add</button>
</form>

<a href="/stylists/all">View all Stylists</a>
<br>
<a href="/">Home Page</a>
