@{
  Layout="Shared/_Layout.cshtml";
}
<h1>All Stylists</h1>

<ul>
    @foreach (var stylist in Model)
    {
      <li><a class = "stylist" href="/stylists/@stylist.GetId()">@stylist.GetName()</a>
      <a class = "edit" href="/stylist/edit/@stylist.GetId()">Edit</a> |
      <a class = "delete" href="/stylist/delete/@stylist.GetId()">Delete</a></li>
      </li>
    }
</ul>



<form action="/stylists/delete" method="post">
  <button class="btn btn-danger" type="submit">Clear all Stylists</button>
</form>
