@{
  Layout="Shared/_Layout.cshtml";
}
<h1>All Stylists</h1>

<ul>
    @foreach (var stylist in Model)
    {
      <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></li>
    }
</ul>



<form action="/stylists/delete" method="post">
  <button class="btn btn-danger" type="submit">Clear all Stylists</button>
</form>
