@{
  Layout="Shared/_Layout.cshtml";
}


@if (@Model["Client"].Count == 0)
{
  <p>No Clients have been added yet!</p>
}
else
{
  <ol>
    @foreach (var client in @Model["Client"])
    {
      <li>
      <a class = "name" href="/client/@client.GetId()">@client.GetName()</a> |
      <a class = "edit" href="/client/edit/@client.GetId()">Edit</a> |
      <a class = "delete" href="/client/delete/@client.GetId()">Delete</a></li>
      </li>
    }
  </ol>
}
